    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    body {
        margin: 0;
        background-color: #F7FAFB;
        font-family: 'Montserrat', sans-serif;
    }
    
    .main {
        height: 85vh;
        overflow: hidden;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        background-color: #062436;
        width: 15%;
        float: left;
        height: inherit;
    }
    
    .content {
        height: inherit;
    }
    
    .container {
        width: 100%;
    }
    
    .container-header {
        height: 75px;
        display: flex;
        width: 80%;
        flex-direction: row;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            li {
                justify-content: flex-end;
                margin-right: 20px;
            }
        }
    }
    
    .container-content {
        display: flex;
        max-height: 80vh;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .api {
        display: flex;
        background-color: #fff;
        overflow-x: scroll;
        max-height: inherit;
        padding: 50px;
        flex-direction: column;
        width: 100%;
    }
    
    .footer {
        display: flex;
        height: 15vh;
        justify-content: space-between;
        a {
            color: #36BDF7;
            &:hover {
                color: #666
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    .copyright {
        margin-left: 100px;
    }
    
    .contact {
        margin-right: 100px;
    }
    
    .logo {
        margin: 4% 20% 20% 20%;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
            font-size: 1.3em;
            margin-bottom: 15px;
            color: #fff;
            &:hover {
                color: #36BDF7;
            }
        }
        li {
            margin-bottom: 15px;
        }
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    .container-header {
        a {
            color: #666;
            &:hover {
                color: #36BDF7;
            }
        }
    }
    
    .subtitle {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 10px;
    }
    
    .title {
        font-size: 2em;
        font-weight: 600;
    }
    
    hr.rounded {
        border-top: 2px rgb(230, 230, 230);
        border-radius: 5px;
        width: 100%;
    }
    
    .content-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        a {
            margin-right: 20px;
            color: #062436;
        }
    }
    
    .card {
        min-height: 100px;
        display: flex;
        align-items: center;
    }
    
    $details-padding: 1em;
    details {
        font-size: 1rem;
        // box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        width: 100%;
        background: #ffffff;
        // border-radius: 8px;
        position: relative;
        .summary-title {
            user-select: none;
        }
        &:hover {
            cursor: pointer;
        }
        &[open] {
            background-color: #F3FCFF;
            .summary-chevron-down {
                background: #F3FCFF
            }
        }
        .summary-content {
            border-top: 1px solid #e2e8f0;
            cursor: default;
            padding: $details-padding;
            font-weight: 300;
            line-height: 1.5;
        }
        summary {
            padding: $details-padding;
            &:focus {
                outline: none;
            }
            &:hover .summary-chevron-up svg {
                opacity: 1;
            }
        }
        .summary-chevron-up svg {
            opacity: 0.5;
        }
        .summary-chevron-up,
        .summary-chevron-down {
            pointer-events: none;
            position: absolute;
            top: 0.75em;
            right: $details-padding;
            background: #fff;
            svg {
                display: block;
            }
        }
        summary::-webkit-details-marker {
            display: none;
        }
    }
    
    .logo:hover {
        .icon {
            fill: #36BDF7;
        }
    }
    
    .active {
        font-weight: bold;
        color: "#F7FAFB"
    }